html{
    background-color: #00FFBF;
}

a{
    color:#FE642E;
    text-decoration: none;
}

img{
    height: 400px;
    width: 350px;
}

h1,h2,h3,h4,h5,h6{
  color:#8E44AD;
}

em{
    color: #566573;
}

p:first-letter{
    font-size:25px;
}